/* padding and border are included in the total width and height of the elements */
/* https://www.w3schools.com/css/css_rwd_grid.asp */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2998ff; /* medium blue */
}

h1 {
  font-family: Cedarville; Arial, Helvetica, sans-serif;
  font-size: 3em;
}

p, li {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 16px;
  color: #292C7F;
}

#myFooter{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2998ff;
  color: #292c7f;
  align-content: center;
  width: 100%;
  min-height: 400px;
}

.flexbox-item{
  width: 300px;
  margin: 10px;
  justify-content: center;
}

.flex_item_Title {
  min-height: 100px;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 5em;
  text-align: center;
}

.flex_item_spacer {
  min-height: 100px;
}

.flex_item_box {
  height: 3px;
  background-color: #292c7f;
}

.flex_item_subTitle {
  min-height: 200px;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 30px;
  text-align: center;
}

/* if the screen <= 599px, then use this styling:  */
/* if the screen is sized for mobile, then use this styling:  */
@media only screen and (max-width: 599px) {
/* Style the navigation menu */
.test {
  height: 30px;
}

.topnav {
   overflow: hidden;
   background-color: #292c7f;
   width: 100%;
   /*position: relative;*/
   position: sticky;
  }



/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
 display:none;
}

i.fa {
  display: contents;
}

/* Style navigation menu links */
.topnav a {
 color: white;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 1.5em;
 display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
 background: #292c7f;
 display: block;
 position: absolute;
 right: 0;
 top: 0;
}

/* Add a light blue background color on mouse-over with dark blue text */
.topnav a:hover {
 background-color: #d0ebff;
 color: #292c7f;
}

/* Style the active link (or home/logo) */
.active {
 background-color: #292c7f;
 color: white;
}
/* -------end navigation -------------*/

#myFooter{
  display: none;
  width: 100%;
}

}
/* end of --- mobile styling  @media only screen and (max-width: 599px) */

/* if the screen >= 600px, then use this styling:  */
/* if the screen is larger than mobile, then use this styling:  */

@media only screen and (min-width: 600px) {
  body {
  	background-color: #2998ff;
  }

  i.fa {
    display: none;
  }

.test {
  display: hidden;
}

  p, li {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 1.2em;
    color: #292C7F;
  }



  .flex_item_Title {
    min-height: 100px;
    min-width: 600px;
    font-family: 'Mrs Sheppards', cursive;
    font-size: 5em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin:3px;
    padding: 6px;
    overflow: hidden;
    background-color: #ffffff;

  }

  li {
    float: right;
    border: 6px solid #ffffff;
    border-radius: 3px;
  }

  li a {
    display: block;
    background-color: #292c7f;
    color: #d0ebff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #292c7f;
    border-radius: 10px;
    /*transition: all .5s ease-out 1s;*/
      transition: all .2s ease-in 0s, background-color 1s;
  }

  li a:hover:not(.active) {
    background-color: #ffffff;
    color: #292c7f;
    /* border: 1px solid #292c7f; */
    /* transition: all .2s ease-in 0s, background-color 1s; */
    /*font-size: 120%;*/
  }

  .active {
    background-color: #d0ebff;
    color: #292c7f;
  }

}
 /* end of @media only screen and (min-width: 600px)  */

 /* ------this is the START of grid containter for projects.html---------------*/
.projectsGridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  grid-template-rows: : auto auto auto auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  border: red solid 1px;
  justif
}

.projGridItem {
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.proj1 {
  grid-column: 2 / 3;
  grid-row: 2;
}

.proj2 {
  grid-column: 3 / 4;
  grid-row: 2;
}

.proj3 {
  grid-column: 4 / 5;
  grid-row: 2;
}

.pageheadertitle{
  grid-column: 2/5;
  grid-row: 1;
  z-index: 0;
  /* background-color: gray; */

}

h1 {
    position:relative;
    z-index:1;
}


h1:after {
    content:"";
    position:absolute;
    width:100%;
    height:20%;
    background-color:rgba(0, 20, 0, .1);
    left:0px;
    bottom:20px;
    z-index:-1;
}

.backbox {
  /* border-bottom: 5px solid gray; */
  display: inline;
  background-color: gray;
  grid-column: 2/5;
  grid-row: 1;
  height: 35px;
  width: 100%;
  opacity: 50%;
  z-index: -1;
  border-radius: 5px;

  /* margin-top: 10%; */
}


img {
  width: 100%;
  border-radius: 4px;
}


  /* ------this is the ENDT of grid containter for projects.html---------------*/

  /* ------this is the START of grid containter for about.html---------------*/
 .aboutGridContainer {
   display: grid;
   grid-template-columns: 10% auto auto auto 10%;
   /*justify-content: space-evenly;*/
   grid-template-rows: : auto auto auto;
   grid-row-gap: 50px;
   grid-column-gap: 50px;
   border: red solid 1px;
 }

 .aboutImg {
   grid-column: 2 / 3;
   grid-row: 1;
   height: 100%;
   max-width: 400px;
   /*need help getting the image to size responsively*/
 }

 .aboutText {
   grid-column: 3 / 4;
   grid-row: 1;
   max-width: 400px;
 }
 /* ------this is the END of grid containter for about.html---------------*/



 /* ------this is the START of grid containter for resume.html---------------*/
.resGridContainer {
  display: grid;
  grid-template-columns: 10% auto auto auto auto 10%;
  /*justify-content: space-evenly;*/
  grid-template-rows: : 10% auto auto auto auto auto 10%;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  border: red solid 1px;
}

.res {
  background-color: gray;
  border-radius: 10px;
}

.resSkills {
  grid-column: 3 / 4;
  grid-row: 1;
  height: 100%;
  max-width: 400px;
  /*need help getting the image to size responsively*/
}

.resTools {
  grid-column: 2 / 3;
  grid-row: 2;
  max-width: 400px;
}

.resTools {
  grid-column: 2 / 3;
  grid-row: 2;
  max-width: 400px;
}
