/* div {
  transition: <property> <duration> <timing-function> <delay>;
} */

#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;

}

#delay:hover {
  font-size: 50px;
}

.box{
  border-style: solid;
  border-width: 1px;
  display: block;
  background-color: #0000ff;
  width: 100px;
  height: 100px;
  /* transition: width 2s, height 2s,
  color 2s, transform 2s; */
  transition: all 2s;
}

.box:hover {
  background-color: #ffcccc;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}
