p {
  font-family: cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid;
  background: rgba(255, 0, 0, 0.5);
  color: rgba;
  box-shadow: 1px;
  border-radius:
  padding:;
  display: inline-block;
  cursor: pointer;

}
